---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio">
    <div>
        <main class=" flex h-screen w-screen">
            <div class=" bg-gray-500 m-10 flex-wrap" style="flex: 1">

			</div>
        </main>
    </div>
</Layout>


