---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio">
	<body>
		<div>
			<main >
				<div style="border: 5px;">
					
					<div>
						<h1>HOLA</h1>
					</div>
				</div>
			</main>
		</div>
	</body>
</Layout>

<style>
	
</style>
