---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import AbMePro from '../components/aboutMe&Projects.astro';
import Contact from '../components/contact.astro';
import Main from '../components/main.astro';
import Buttons from '../components/buttons.astro';
---

<Layout title="Portafolio">
    <main class="flex h-screen w-screen justify-center">
        <div class=" m-10 wrapper" id="wrapper">
            <Header/>
            <AbMePro/>
            <Main/>
            <Contact/>
            <Buttons/>
        </div>
    </main>
</Layout>
<script src="https://unpkg.com/animate-css-grid@1.3.0"></script>
<script src="../scripts/gridAnimation"></script>
<script src="../scripts/cardHover"></script>
<style>
    :global(.wrapper) {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        grid-template-rows: 5fr 3fr 5fr;
        gap: 10px;
        width: 100%;
        max-width: 1200px;
        grid-template-areas:
            "header header header"
            "aboutMeProjects contact contact"
            "aboutMeProjects main buttons";
    }

    :global(.wrapper.small-screen) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "header"
            "aboutMeProjects"
            "main"
            "buttons"
            "contact";
    }

    :global(.card) {
        grid-area: header;
        position: relative;
        background: rgba(45, 45, 45, 1);
        border-radius: 20px;
        overflow: hidden;
    }

    :global(.card::before) {
        content: '';
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        background: radial-gradient(var(--clr), transparent, transparent);
        width: 800px;
        height: 800px;
        opacity: 0;
        transition: 0.3s, top 0s, left 0s;
    }

    :global(.card:hover::before) {
        opacity: 1;
    }

    :global(.card::after) {
        content: '';
        position: absolute;
        inset: 3px;
        border-radius: 18px;
        background: rgba(45, 45, 45, 0.90);
    }
</style>
