<div class="h-full rounded-lg card" style="--clr: #597EFF">
    <h3 class="header-text">Hi, I'm</h3>
    <h1 class="header-text">Daniel Rodríguez</h1>
</div>

<style>
    div {
        grid-area: header;
    }
    
</style>
